<?xml version="1.0" encoding="utf-8" ?>
<!--
  此处修改的部分信息均需要重启工具才能得到体现. 因此为达到数据一致性和工具稳定性 请修改之后重启或修改之后再打开本工具
  不支持热增加新的配置项(即只允许在现有的key下修改value配置信息. 新增的其他所有配置均不会在Runtime期间读取到内存中)
  因此,正因为程序启动时以下信息被列为初始化名单之一. 请不要删减现有的配置项
-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    
    <!-- 
      此处配置应用程序检测服务器项目所配置产品的状态检测专用端口,基于本产品原先的初衷,
      因此起名MainConfigPort. 关于value的配置,请与服务端工具对应的端口号一致 
    -->
    <add key="MainConfigPort" value="60001"/>
    
    
    <!--
      此配置用于设置其他操作所需要的Socket端口,比如自动化部署功能就格外依赖此端口. 
      请与服务器端对应此功能所配置的端口一致.
    -->
    <add key="InterflowPort" value="60002"/>

    <!--
      配置检测信息展示控制台中默认显示的工具版权信息. 此value为默认配置
    -->
    <add key="copyright" value="Copyright 2018 www.paicheji.com Inc. All rights reserved."/>
    
  </appSettings>
</configuration>